@font-face {
    font-family:openSans-medium ;
    src: url("/fonts/OpenSans-Medium.ttf");
}

@font-face {
    font-family:openSans-extraBold ;
    src: url("/fonts/OpenSans-ExtraBold.ttf");
}

@font-face {
    font-family:openSans-regular ;
    src: url("/fonts/OpenSans-Regular.ttf");
}

@font-face {
    font-family:condensed-bold ;
    src: url("/fonts/OpenSans_Condensed-Bold.ttf");
}

@font-face {
    font-family: condensed-medium;
    src: url("/fonts/OpenSans_Condensed-Medium.ttf");
}

/* Reset */
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    list-style: none;
}

/* navbar desktop*/
.nav-desktop {
    display: flex;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
    gap: 20px;
}

.logo {
    width: 200px;
}

.nav {
    display: flex;
    align-items: center;
}

.nav-list {
    position: relative;
    display: flex;
    height: 35px;
    padding: 0 30px;
    gap: 35px;
    margin: 0;
}

.nav-list:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    background-color: rgb(20, 22, 24);
    z-index: 1;
}

.nav-list > li {
    padding: 0;
    margin: 0;
}

.list-item {
    position: relative;
    display: block;
    height: 100%;
    color: black;
    padding: 0 10px;
    font-size: 13px;
    letter-spacing: 2px;
    text-decoration: none;
    text-transform: uppercase;
    transition: color 0.3s ease-in-out;
    cursor: pointer;
    font-family: 'openSans-medium', sans-serif;
}

.list-item:before {
    content: '';
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 2px;
    transform: scaleX(0);
    transform-origin: center;
    transition: transform 0.3s ease-in-out;
    background-color: rgb(54, 165, 222);
    z-index: 10;
}

.list-item:hover {
    color: rgb(54, 165, 222);
}

.list-item:hover:before {
    transform: scaleX(1);
}

/* Service Section */
.service {
    position: relative;
}

.service:hover .service-options {
    display: flex;
}

.service-options {
    display: none;
    position: absolute;
    flex-direction: column;
    gap: 12px;
    padding: 10px;
    top: 35px;
    width: 300px;
    background-color: #012B5D;
    z-index: 100;
}

.service-options > a {
    color: #fff;
}

/* navbar mobile */
.menu {
    display: none;
}

.ic-menu {
    width: 40px;
    height: 40px;
}

.mobile {
    position: fixed;
    display: flex;
    justify-content: flex-end;
    right: 0;
    bottom: 0;
    height: 100vh;
    width: 100vw;
    opacity: 0;
    pointer-events: none;
    transition: opacity 0.3s ease-in-out;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 1000;
}

#mobile:target {
    opacity: 1;
    pointer-events: unset;
}

#mobile:target .nav-mobile {
    transform: translateX(0);
}

.nav-mobile {
    position: relative;
    height: 100%;
    width: 300px;
    transform: translateX(100%);
    background-color: #012b5d;
    transition: transform 0.3s 0.3s ease-in-out;
}

.close-button {
    display: flex;
    justify-content: center;
    align-items: center;
    position: absolute;
    text-decoration: none;
    top: 15px;
    left: 15px;
    font-size: 1.5rem;
    color: #012b5d;
    height: 40px;
    width: 40px;
    border-radius: 25px;
    background-color: white;
}

.mobile-list {
    width: 80%;
    margin: auto;
    padding-top: 70px;
    text-align: right;
    list-style: none;
}

.mobile-item {
    display: block;
    text-decoration: none;
    color: white;
    font-size: 1.2rem;
    font-family: 'openSans-extraBold', sans-serif;
    padding: 5px 10px;
    margin: 10px 0;
    border-radius: 5px;
    width: 100%;
    transition: all 0.5s ease-in-out;
}

.mobile-item:hover {
    background-color: white;
    color: #012b5d;
}

/* Section Carousel */
.carousel-section {
    position: relative;
    height: 45vh;
    width: 100%;
    overflow: hidden;
}

.carousel-container {
    display: flex;
    height: 100%;
    width: 400%;
}

.carousel-item {
    height: 100%;
    width: calc(100% / 4);
}

.image {
    height: 100%;
    width: 100%;
    object-fit: cover;
}

.btn-left,
.btn-right {
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    width: 70px;
    height: 100%;
    top: 0;
    background: rgba(0, 0, 0, 0.5);
    cursor: pointer;
    z-index: 100;
}

.btn-left {
    left: 0;
}

.btn-right {
    right: 0;
}

.btn-left img,
.btn-right img {
    width: 40px;
}

/* Section feature */
.feature-section {
    display: flex;
    width: 100%;
    height: 45vh;
}

.feature-image {
    position: relative;
    height: 100%;
    width: 50%;
}

.feature-image:before {
    display: block;
    position: absolute;
    content: "";
    width: 200px;
    height: 100%;
    right: 0;
    clip-path: polygon(100% 0, 30% 100%, 100% 100%);
    background-color: #fff;
}

.feature-text {
    display: flex;
    flex-direction: column;
    gap: 25px;
    padding: 0 40px;
    width: 50%;
    height: 100%;
    justify-content: center;
}

.feature-title {
    display: block;
    font-family: 'openSans-extraBold', sans-serif;
    position: relative;
    width: fit-content;
    padding: 0;
    margin: 0;
    font-size: 4.2rem;
    text-transform: uppercase;
}

.feature-title:before {
    display: block;
    position: absolute;
    bottom: 0;
    right: 0;
    content: "";
    width: 50%;
    height: 3px;
    background-color: rgb(54, 165, 222);
}

.feature-desc {
    text-align: justify;
    max-width: 450px;
    font-family: 'openSans-regular', sans-serif;
    font-weight: 300;
}

/* Services Section */
.services,
.asociation-title {
    padding: 40px 0;
    margin: 0 auto;
    width: 90%;
    max-width: 1200px;
}

.services-title,
.asociation-text {
    display: block;
    position: relative;
    font-size: 1.7rem;
    margin: 0;
    font-family: 'condensed-bold', sans-serif;
    padding: 0;
    width: fit-content;
    letter-spacing: 5px;
    text-transform: uppercase;
}

.services-title:before,
.asociation-text:before {
    display: block;
    position: absolute;
    bottom: 0;
    left: 0;
    content: "";
    width: 75%;
    height: 3px;
    background-color: rgb(54, 165, 222);
}

.services-cards {
    display: flex;
    flex-wrap: wrap;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    gap: 20px;
}

.service-card {
    position: relative;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-decoration: none;
    height: 180px;
    min-width: 215px;
    border-radius: 20px;
    gap: 10px;
    background-color: rgba(2, 31, 73, 0.8);
}

.service-image {
    position: absolute;
    height: 100%;
    width: 100%;
    object-fit: cover;
    z-index: -1;
    border-radius: 20px;
}

.services-card-title {
    color: #fff;
    font-size: 1.2rem;
    max-width: 200px;
    text-align: center;
    text-transform: uppercase;
    font-family: 'openSans-extraBold', sans-serif;
}

.btn-service {
    color: #000;
    background-color: rgb(138, 199, 247);
    letter-spacing: 3px;
    text-transform: uppercase;
    font-size: 0.6rem;
    padding: 2px;
    border-radius: 3px;
}

/* Section Figures */
.figures-section {
    position: relative;
    width: 100%;
    min-height: 420px;
    background-image: linear-gradient(180deg, rgba(255, 255, 255, 0.4) 0%, rgba(255, 255, 255, 1) 100%), url(/assets/containers.jpg);
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
}

.figures-title {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 60px;
    background: rgb(54, 165, 222);
}

.figures-text {
    text-transform: uppercase;
    letter-spacing: 10px;
    font-family: 'openSans-extraBold', sans-serif;
}

.figures-cards {
    display: flex;
    position: relative;
    flex-wrap: wrap;
    gap: 20px;
    align-items: center;
    justify-content: space-between;
    padding: 30px;
    min-height: 300px;
    width: 90%;
    max-width: 1200px;
    margin: 0 auto;
}

.figure-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    height: 200px;
    min-width: 130px;
    padding-top: 5px;
    border-radius: 20px;
    gap: 10px;
    box-shadow: 0 0 5px 0 rgba(0, 0, 0, 0.1);
    background: linear-gradient(180deg, rgba(171, 221, 238, 0.1) 0%, rgb(171, 221, 238) 100%);
}

.figure-card-title {
    font-size: 2rem;
    font-family: 'openSans-extraBold', sans-serif;
}

.figure-desc {
    font-size: 0.6rem;
    max-width: 70%;
    text-align: center;
}

.image-container {
    width: 100px;
    height: 100px;
    background-color: #fff;
    padding: 12px;
    border-radius: 50%;
}

/* Section Asociations  */
.asociations {
    padding: 40px 0;
    width: 100%;
    background-color: rgb(241, 242, 244);
}

.asociation-title {
    padding-bottom: 40px;
}

.asociation-desc {
    font-size: 0.9rem;
    font-family: 'openSans-regular', sans-serif;
}

.asociation-image {
    width: 120px;
    height: 120px;
    object-fit: cover;
}

.asociation-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    width: 250px;
}

.asociations-cards {
    display: flex;
    flex-wrap: wrap;
    gap: 30px;
    max-width: 1200px;
    width: 90%;
    justify-content: space-between;
    align-items: center;
    margin: 0 auto;
    padding: 15px 0;
}

/* Footer */
.footer {
    width: 100%;
    background-color: #012B5D;
}

.footer-container {
    display: flex;
    min-height: 100px;
    width: 90%;
    align-items: center;
    justify-content: space-between;
    padding: 20px 0;
    margin: 0 auto;
    gap: 10px;
    max-width: 1200px;
}

.logo-container {
    flex: 1;
}

.logo-2 {
    width: 150px;
}

.footer-links {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    flex: 3;
}

.footer-social {
    display: flex;
    justify-content: flex-end;
    flex: 1;
    gap: 10px;
}

.footer-list-container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 100%;
}

.footer-list-link {
    text-decoration: none;
    font-family: 'condensed-regular', sans-serif;
    text-transform: uppercase;
    letter-spacing: 2px;
    font-size: 14px;
    color: #fff;
}

.address {
    color: rgb(54, 165, 222);
    margin-bottom: 10px;
    font-size: 0.8rem;
    text-align: center;
    font-family: 'openSans-regular', sans-serif;
    width: fit-content;
}

.social-media {
    background-color: rgb(54, 165, 222);
    width: 40px;
    height: 40px;
    border-radius: 50%;
    padding: 10px;
    margin: 10px;
    cursor: pointer;
}

/*WhatsApp Button*/
.whatssapp-button-container{
    position: fixed;
    right: 60px;
    bottom: 20px;
    width: 40px;
}

.whatssapp-button-container > p{
    width: 100px;
}



/* Responsive design */
@media screen and (max-width: 1070px){
    .menu {
      display: block;
    }

    .nav-list{
        display: none;
        gap: 0;
    }

    .feature-title{
        font-size: 3rem;
    }

    .footer-container,
    .footer-list-container{
        flex-direction: column;
        gap: 20px;
    }

    .figures-cards,
    .asociations-cards,
    .services-cards{
        justify-content: center;
    }
}

@media screen and (max-width:768px) {
    .feature-text{
        padding: 0 7px;
    }
    .feature-title{
        font-size: 1.5rem;
    }

    .feature-desc{
        max-width: 90%;
        font-size: 0.8rem;
    }

    .service-card{
        flex: 1;
    }
}
